@import "../abstracts/mixins";

.modalScreen {
  background-color: #00000070;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;

  @include flexColumn;
}

.modalContent {
  width: 500px;
  background-color: #eee;
  border-radius: 16px;
  height: 500px;

  @include flexColumn;

  form {
    width: 80%;

    fieldset {
      @include flexColumn;
      gap: 16px;
      padding: 16px;
    }
  }
}
